# =========================
# Python
# =========================
__pycache__/
*.py[cod]

# =========================
# Django
# =========================
db.sqlite3
db.sqlite3-journal
db.sqlite3-wal

staticfiles/
media/

*.log
local_settings.py

# =========================
# Environment
# =========================
.env
.env.*

# =========================
# Virtualenv
# =========================
.venv/
venv/
env/

# =========================
# IDE / OS
# =========================
.idea/
.vscode/
.DS_Store
